/* SubscriptionModal.css */
body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Disable horizontal scrolling when the modal is open */
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background with more opacity */
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-content {
    background-color: white;
    padding: 40px; /* More padding for a better look */
    border-radius: 15px;
    width: 500px; /* Increase width */
    height: auto; /* Auto height */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(0.5); /* Start small */
    animation: scaleUp 0.5s ease-in-out forwards;
}

@keyframes scaleUp {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover,
.close-button:focus {
    color: #333;
    text-decoration: none;
}

.new-subscribe h2 {
    text-align: center;
    font-size: 24px; /* Larger heading */
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

label {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 12px; /* Increased padding for better look */
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Rounded input fields */
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #007BFF; /* Blue outline on focus */
}

textarea {
    resize: vertical; /* Allow vertical resizing for textarea */
}

button[type="submit"] {
    margin-top: 20px;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
    background-color: #218838;
    transform: scale(1.05); /* Slightly enlarge on hover */
}
