body {
  font-family: Arial, sans-serif;
}

/* Styles for the header and dropdown */



/* 
.hero {
  background-image: url('/path-to-hero-image.jpg');
  background-size: cover;
  text-align: center;
  padding: 50px 20px;
} */


